body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 20px;
  font-style: ;
}

h1{
  color: #66BFBF;
  font-size: 6rem; /*100%=16px=1em*/
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  /*line-height: 2;*/
}

h2{
  color: #11999E;
}

h3{
  color: #14C38E;
}

.subheading{
  color: #66BFBF;
  font-size: 2rem;
  font-weight: normal;
}

p{
  font-size: 1.5rem;
  font-family: 'Papyrus', fantasy;
}

a{
  color: #646FD4;
}

.skill-row1{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.skill-row2{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

/*.pimg-desc{
  clear: left;
}

.limg-desc{
  clear: right;
}*/

/*.container{
  background-color: green;
  position: relative;
  height: 600px; width: 600px;
  margin: px;
}*/

.xyz{
   background-color: #E3FDFD;
  /*height: 200px; width: 200px;
  margin-left: 260px;
   border: solid 20px;
   position: relative;
   left: 0px;
   display: block;*/

   /*position: absolute;
   top: 200px;
   left: 200px;*/
 }

.pqr{
  /*background-color: yellow;
  height: 200px; width: 200px;
  margin-left: 500px;
  border: solid 10px;
  position: relative;
  right: 400px;
  display: block;*/

  /*position: fixed;
  top: 0;*/
}

.abc{
    /*background-color: red;
    margin: 10px;
    height: 200px; width: 200px;*/
    /*border: solid 10px;
    padding: 20px;
    position: relative;
    left: 400px;
    display: block;*/

    /*position: absolute;
    top: 400px;
    right: 0px;*/

  }

  .pimg{
    width: 30%;
    float: left;
    margin-right: 20px;
  }

  .limg{
    width: 30%;
    float: right;
    margin-left: 20px;
  }

  .middle-container{
    margin-top: 30px;
  }

  .top-cloud{
    margin: 50px 0px 0px;
    position: relative;
    left: 150px;
    bottom: 20px;
  }
  .bottom-cloud{
    position: absolute;
  }
